[build]
  # Comando para generar los archivos de producci칩n
  command = "npm run build"
  
  # Directorio que contiene los archivos finales para publicar
  publish = "build"

[build.environment]
  # Versi칩n de Node.js
  NODE_VERSION = "18"

# Configuraci칩n para archivos est치ticos
[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000"

# Para archivos HTML
[[headers]]
  for = "/*.html"
  [headers.values]
    Cache-Control = "public, max-age=0, must-revalidate"